@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&display=swap');
@import url(//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Poppins:wght@500&family=Roboto+Slab:wght@300;400&display=swap');

body{
    display: flex;
    margin: 0%;
}

/* Blocks */

.block-left{
    width: 40vw;
    height: 100vh;
    background-image: url("./images/1664556050766664.jpg");
    background-size: auto;
}

.block-right{
    width: 60vw;
    height: 100vh;
    background: #F7EDE2;
    display: flex;
    flex-direction: column;
}

/* left children */

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D2021;
    opacity: 80%;
    width: 100%;
    height:18%;
    margin-top: 17vh;
}

#login-image{
    height: 60%;
    margin-right: 5%;
}

#lorem-text{
    color: white;
    opacity: 100%;
    font-family: 'Norse', sans-serif;
    font-size: 6vw
    
}

/* Right children */


.text-container{
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    padding-top: 30%;
    padding-bottom: 5%;

}

.text{
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
}


.form-container{
    height: 30%;
    width: 100%;
    box-shadow:  0px 0px 5px  grey;
    overflow: hidden;
}

#form-self{
    display: flex;
}

.sign-up{
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
}

.form-inner-container{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

#inner-2{
    padding-right: 5%;
}


.label-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}


label{
    font-size: 0.62em;
    font-family: 'Noto Sans Display', sans-serif;
    color: #1D2021;
    letter-spacing: 2px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box
}



.button-container{
    max-height: 25vh;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}


.button {
    background-color: #263B40; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Noto Sans Display', sans-serif;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0.1s;
}

#login-link{
    font-family: 'Poppins';
    color:#263B40;
}

#login-link:hover{
    color: white;
    cursor: pointer;
}